body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #87CEEB; /* Azul cielo */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.7); /* Sombra amarilla */
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #00BFFF; /* Azul más oscuro al pasar el ratón */
    box-shadow: 0 6px 12px rgba(255, 255, 0, 1); /* Sombra amarilla más intensa */
}
